# .gitignore

# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/AssetStoreTools*
sysinfo.txt
*.pidb.meta

# VS/Rider/MD/Consulo
ExportedObj/
.consulo/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

#VSCode
.vscode/

# Builds
*.apk
*.unitypackage
*.app
*.exe
/*.obb
/Assets/StreamingAssets/build_info.txt

/AssetIgnored/

# Cinamchine has this
!*LegacyTimelineAPI.unitypackage
.vs
