<!DOCTYPE html>
<html>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">

<head>
    <title>MiniLuna</title>
    <script type="text/javascript" src="libs/three.js"></script>
    <script type="text/javascript" src="libs/SceneLoader.js"></script>
    <style>
        body {
            /* set margin to 0 and overflow to hidden, to go fullscreen */
            width: 100%;
            text-align:center;
        }
    </style>
</head>
<body>

<!-- Div which will hold the Output -->
<div id="WebGL-output">
</div>

<!-- Javascript code that runs our Three.js examples -->
<script type="text/javascript">
    // once everything is loaded, we run our Three.js stuff.
    var activeCamera;
    var renderer;
    
    function init() {
        // create a scene, that will hold all our elements such as objects, cameras and lights.
        var scene = new THREE.Scene();
        
        // create a camera, which defines where we're looking at.
        var defaultCamera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 0.1, 1000);
        var loadedCamera;
        activeCamera = defaultCamera;
        
        // create a render and set the size
        renderer = new THREE.WebGLRenderer( { antialias: true } );
        renderer.setClearColor(new THREE.Color(0xffffff, 1.0));
        renderer.setSize(window.innerWidth, window.innerHeight);
        
        // add the output of the renderer to the html element
        document.getElementById("WebGL-output").appendChild(renderer.domElement);
        // call the render function

        importScene();
        function importScene() {
            loadJSON('data/storedScene.json', loaded );
            function loaded(json) {
                var sceneLoader = new THREE.SceneLoader();
                sceneLoader.parse(json, function (e) {
                    scene = e.scene;
                    loadedCamera = scene.getObjectByName( "MainCamera", true );
                    activeCamera= loadedCamera;
                    renderer.setClearColor(new THREE.Color(0xEEEEEE, 1.0));

                    // add subtle ambient lighting
                    var ambientLight = new THREE.AmbientLight(0x0c0c0c);
                    scene.add(ambientLight);
                    // add spotlight for the shadows
                    var spotLight = new THREE.PointLight(0xffffff);
                    spotLight.position.set(-40, 60, 60);
                    scene.add(spotLight);
                    
                    onWindowResize();
                }, '.');
            }
        }
        
        render();
        function render() {
            requestAnimationFrame(render);
            renderer.render(scene, activeCamera);
        }
    }
    
    window.onload = init;
    window.addEventListener( 'resize', onWindowResize, false );
    
    function onWindowResize() {
        var cameraAspect = activeCamera.aspect;
        //dinamic aspects
        // var winx = window.innerWidth/cameraAspect;
        // var winy = window.innerHeight;
        // if(winx>winy)
        // {
        //     renderer.setSize(winy*cameraAspect ,window.innerHeight );
        // }
        // else
        // {
        //     renderer.setSize( window.innerWidth, winx*cameraAspect );
        // }
        renderer.setSize(800 ,600);
    }

    function loadJSON(filePath, callback)
    {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.overrideMimeType("application/json");
        xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var data = JSON.parse(this.responseText);
                callback(data);
            }
        };
        xmlhttp.open("GET", filePath, true);
        xmlhttp.send();
    }
</script>
</body>
</html>